<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Navbar header -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <i class="fa fa-angle-double-down"></i>
      </button>
    </div>
    <!-- End div .navbar-header -->

    <!-- Navbar collapse -->
    <div class="navbar-collapse collapse">

      <!-- Right navbar -->
      <ul class="nav navbar-nav navbar-right top-navbar">

        <!-- Dropdown User session -->
        <li class="dropdown">
          <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown"><strong>{{ profile.fullname }}</strong> <i
                  class="fa fa-chevron-down i-xs"></i></a>
          <ul class="dropdown-menu animated half flipInX">
            <li><a href="#fakelink">My Profile</a></li>
            <li><a href="#fakelink">Change Password</a></li>
            <li><a href="#fakelink">Account Setting</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Another action</li>
            <li><a href="#fakelink">Help</a></li>
            <li><a href="lock-screen.html">Lock me</a></li>
            <li><a class="md-trigger" data-modal="logout-modal" href="{% url 'auth_logout' %}?next=/accounts/login/">Logout</a></li>
          </ul>
        </li>
        <!-- End Dropdown User session -->
      </ul>
    </div>
    <!-- End div .navbar-collapse -->
  </div>
  <!-- End div .container -->
</div>