<div class="left side-menu">

  <div class="body rows scroll-y">

    <!-- Scrolling sidebar -->
    <div class="sidebar-inner slimscroller">

      <!-- User Session -->
      <div class="media">
        <a class="pull-left" href="#fakelink">
          <img class="media-object img-circle" src="assets/img/avatar/masarie.jpg" alt="Avatar">
        </a>

        <div class="media-body">
          Welcome back,
          <h4 class="media-heading"><strong>Mas Bro</strong></h4>
          <a href="user-profile.html">Edit</a>
          <a class="md-trigger" data-modal="logout-modal-alt"
             href="{% url 'auth_logout' %}?next=/accounts/login/">Logout</a>
        </div>
        <!-- End div .media-body -->
      </div>
      <!-- End div .media -->


      <!-- Sidebar menu -->
      {% include 'components/sidebar_menu.html' %}
      <!-- End div #sidebar-menu -->
    </div>
    <!-- End div .sidebar-inner .slimscroller -->
  </div>
  <!-- End div .body .rows .scroll-y -->

</div>