<div class="left side-menu">

  <div class="body rows scroll-y">

    <!-- Scrolling sidebar -->
    <div class="sidebar-inner slimscroller">

      <!-- User Session -->
      <div class="media">
        <a class="pull-left" href="{% url 'accounts_profile_update' %}">
          <img class="media-object img-circle" src="{{ profile.gravatar_url }}" alt="Avatar">
        </a>

        <div class="media-body">
          Witaj ponownie,
          <h4 class="media-heading"><strong>{{ profile.fullname }}</strong></h4>
          <a href="{% url 'accounts_profile_update' %}">Edytuj profil</a>
          <a class="md-trigger" data-modal="logout-modal-alt"
             href="{% url 'auth_logout' %}?next=/accounts/login/" style="white-space: nowrap">Wyloguj się</a>
        </div>
        <!-- End div .media-body -->
      </div>
      <!-- End div .media -->


      <!-- Sidebar menu -->
      {% include 'components/sidebar_menu.html' %}
      <!-- End div #sidebar-menu -->
    </div>
    <!-- End div .sidebar-inner .slimscroller -->
  </div>
  <!-- End div .body .rows .scroll-y -->

</div>