<div id="sidebar-menu">
  <ul>

    {% for field in sidebar_menu.fields %}

      {% if field.is_wrapper %}

        <li {{ field.active_str | safe }}>
          <a>
            {{ field.icon_str | safe }}
            {{ field.ANGLE_DOUBLE_DOWN | safe }}
            {{ field.name }}
            {{ field.label_str | safe }}
          </a>

          <ul {{ field.visible_str | safe }}>

            {% for child in field.children %}

              <li {{ child.active_str | safe }}>
                <a href="{{ child.url }}">
                  {{ child.icon_str | safe }}
                  {{ child.name }}
                  {{ child.label_str | safe }}
                </a>
              </li>

            {% endfor %}

          </ul>

        </li>

      {% else %}

        {# field is a link field #}
        <li {{ field.active_str | safe }}>
          <a href="{{ field.url }}">
            {{ field.icon_str | safe }}
            {{ field.name }}
            {{ field.label_str | safe }}
          </a>
        </li>

      {% endif %}

    {% endfor %}

  </ul>
  <div class="clear"></div>
</div>