{% extends 'base_framed.html' %}
{% load render_table from django_tables2 %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

  <!-- Page header -->
  <div class="page-heading animated fadeInDownBig">
    <h1>Pub {{ profile.get_pub }}
      <small>piwa w magazynie</small>
    </h1>
  </div>
  <!-- End page header -->

  <!-- Begin profile table -->
  <div class="box-info full">
    <h2><strong>Lista piw</strong> w magazynie pubu {{ profile.get_pub }}</h2>

    <div class="table-responsive">

      {% render_table table %}

    </div>
  </div>
  <!-- End profile table -->

{% endblock content %}


{% block modals %}

  {# Remove beer modal #}
  <div class="modal fade" id="removeBeerModal" tabindex="-1" role="dialog" aria-labelledby="removeBeerModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="removeBeerModalLabel">Potwierdź usunięcie piwa z magazynu</h4>
        </div>
        <div class="modal-body">
          <p>Czy na pewno chcesz usunąć piwo <span id="beerName"></span> z magazynu?</p>
        </div>
        <div class="modal-footer">
          <form method="post" action="{% url 'pub:remove_beer' %}">
            {% csrf_token %}
            <input type="hidden" id="beerId" name="beer_id" value="">
            <button type="button" class="btn btn-default" data-dismiss="modal">Pozostaw piwo</button>
            <button type="submit" class="btn btn-primary">Usuń piwo</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  {# Modify beer modal #}
  <div class="modal fade bs-example-modal-lg" id="modifyBeerModal" tabindex="-1" role="dialog"
       aria-labelledby="modifyBeerModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="modifyBeerModalLabel">Zmodyfikuj parametry piwa w twoim pubie</h4>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <row>
              <div class="col-md-6">
                <h4>Parametry w bazie danych</h4>
              </div>
              <div class="col-md-6">
                <h4>Parametry w twoim pubie</h4>
              </div>
            </row>
            <row>
              <div class="col-md-6">

                {% crispy database_beer_disabled_form %}

              </div>
              <div class="col-md-6">

                {% crispy modify_waiting_beer_form %}

              </div>
            </row>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
          <button type="button" class="btn btn-primary" id="waitingBeerSubmit">Zapisz zmiany</button>
        </div>


      </div>
    </div>
  </div>

{% endblock modals %}


{% block js %}
  {{ block.super }}
  <script src="{% static 'assets/js/waiting_beers_list.js' %}"></script>
{% endblock js %}