{% extends 'base_framed.html' %}
{% load render_table from django_tables2 %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

  <!-- Page header -->
  <div class="page-heading animated fadeInDownBig">
    <h1>Pub
      <small>piwa w magazynie</small>
    </h1>
  </div>
  <!-- End page header -->

  <!-- Begin profile table -->
  <div class="box-info full">
    <h2><strong>Lista piw</strong> w magazynie pubu {{ profile.get_pub }}</h2>

    <div class="table-responsive">

      {% render_table table %}

    </div>
  </div>
  <!-- End profile table -->

{% endblock content %}


{#{% block modals %}#}
{##}
  {# Empty tap modal #}
{#  <div class="modal fade" id="emptyTapModal" tabindex="-1" role="dialog" aria-labelledby="emptyTapModalLabel">#}
{#    <div class="modal-dialog" role="document">#}
{#      <div class="modal-content">#}
{#        <div class="modal-header">#}
{#          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span#}
{#                  aria-hidden="true">&times;</span></button>#}
{#          <h4 class="modal-title" id="emptyTapModalLabel">Potwierdź usunięcie piwa spod kranu</h4>#}
{#        </div>#}
{#        <div class="modal-body">#}
{#          <p>Czy na pewno chcesz usunąć piwo <span id="beerName"></span> spod kranu <span id="tapNo"></span>?</p>#}
{#        </div>#}
{#        <div class="modal-footer">#}
{#          <form method="post">#}
{#            {% csrf_token %}#}
{#            <button type="button" class="btn btn-default" data-dismiss="modal">Pozostaw piwo</button>#}
{#            <button type="submit" class="btn btn-primary">Usuń piwo</button>#}
{#          </form>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{##}
  {# Empty tap modal #}
{#  <div class="modal fade" id="changeBeerModal" tabindex="-1" role="dialog" aria-labelledby="changeBeerModalLabel">#}
{#    <div class="modal-dialog" role="document">#}
{#      <div class="modal-content">#}
{#        <div class="modal-header">#}
{#          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span#}
{#                  aria-hidden="true">&times;</span></button>#}
{#          <h4 class="modal-title" id="changeBeerModalLabel">Potwierdź zmianę piwa na kranie</h4>#}
{#        </div>#}
{##}
{#        {% crispy change_beer_form %}#}
{##}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{##}
{#{% endblock modals %}#}


{% block js %}
  {{ block.super }}
  <script src="{% static 'assets/js/tap_list.js' %}"></script>
{% endblock js %}