<form method="post" action="{% url 'user:change_role' %}">
  {% csrf_token %}

  <input type="hidden" name="profile_id" value="{{ record.id }}">

  <div class="btn-group btn-group-xs">

    <button type="button" data-toggle="modal" data-target="#confirmationModal"
            data-profile-id="{{ record.id }}" data-profile-email="{{ record.user.email }}"
            title="Usuń użytkownika z pubu" class="btn btn-default">
      <i class="fa fa-power-off"></i>
    </button>

    {# Begin dropdown #}
    <button id="dLabel" title="Nadaj użytkownikowi nową rolę" class="btn btn-default"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-edit"></i>
    </button>

    <ul class="dropdown-menu" aria-labelledby="dLabel">
      <li class="dropdown-header">Nowa rola dla użytkownika</li>
      <li>
        <button type="submit" name="role" value="admin" class="btn btn-link">Administrator</button>
      </li>
      <li>
        <button type="submit" name="role" value="employee" class="btn btn-link">Pracownik baru</button>
      </li>
      <li>
        <button type="submit" name="role" value="storeman" class="btn btn-link">
          Pracownik magazynu
        </button>
      </li>
      <li>
        <button type="submit" name="role" value="employee_and_storeman" class="btn btn-link">
          Pracownik baru i magazynu
        </button>
      </li>
    </ul>

  </div>
</form>