{% extends 'base_framed.html' %}
{% load bootstrap %}
{% load staticfiles %}

{% block title %}
Na kranach | zaproś użytkownika
{% endblock title %}

{% block content %}

  <!-- Page header -->
  <div class="page-heading animated fadeInDownBig">
    <h1>Zaproś użytkowników
      <small>do twojego pubu</small>
    </h1>
  </div>
  <!-- End page header -->

  {# Begin form #}
  <div class="row invite-user-wrapper">

    {# Left form column #}
    <div class="col-sm-6">
      <form method="post" action="{% url 'user:invite' %}">
        {% csrf_token %}
        {{ form | bootstrap }}
        <button type="submit" class="btn btn-default">Zaproś</button>
      </form>
    </div>

    {# Right info column #}
    <div class="col-sm-6">
      <div class="dotted">

        <h4><strong>Użytkownicy</strong> w twoich pubach</h4>

        {% for pub in profile.managed_pubs %}

          <h5>{{ pub.name }}</h5>

          <ul class="list-unstyled">

            {% for profile in pub.profile_set.all %}

              <li>
                {{ profile.user.email }}
                {% if profile.fullname %} ({{ profile.fullname }}) {% endif %}
              </li>

            {% endfor %}

          </ul>

        {% endfor %}

        <div class="alert alert-warning">
        	<p>Użytkownik, którego zapraszasz, musi być zarejestrowany w systemie.</p>
        </div>

      </div>
    </div>

  </div>
  {# End row #}

{% endblock content %}

<form method="post" action="{% url 'user:invite' %}">
  {% csrf_token %}
  {{ form | bootstrap }}
  <button type="submit" class="btn btn-default">Zaproś</button>
</form>