{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
  Nakranach | hasło zostało zresetowane
{% endblock title %}

{% block lanceng_body_classes %}
  tooltips full-content
{% endblock lanceng_body_classes %}

{% block body %}

  <div class="container">

    <!-- Begin Forgot Password Page -->
    <div class="full-content-center animated fadeInDownBig">
      <a href="#fakelink"><img src="assets/img/logo-login.png" class="logo-login img-circle" alt="Logo"></a>

      <div class="login-wrap">
        <div class="box-info">
          <h2 class="text-center">Resetowanie hasła zostało zakończone</h2>

          <p>Twoje hasło zostało ustawione. Możesz się teraz zalogować.</p>

          <a class="btn btn-success btn-block" href="{% url 'auth_login' %}"><i class="fa fa-rocket"></i> Zaloguj się</a>

        </div>
      </div>
    </div>
    <!-- End Forgot Password Page -->

  </div><!-- End div .container -->

{% endblock body %}