{% extends 'base.html' %}
{% load staticfiles %}

{% block lanceng_body_classes %}
  tooltips full-content
{% endblock lanceng_body_classes %}

{% block body %}

  <div class="container">

    <!-- Begin Forgot Password Page -->
    <div class="full-content-center animated fadeInDownBig">
      <a href="#fakelink"><img src="assets/img/logo-login.png" class="logo-login img-circle" alt="Logo"></a>

      <div class="login-wrap">
        <div class="box-info">
          <h2 class="text-center">Email z linkiem do resetowania hasła został wysłany</h2>

          <p>Wysłaliśmy na podany adres email - jeżeli ten adres jest zarejestrowany w Nakranach - wiadomość
          z instrukcją, jak zresetować hasło. Powinieneś otrzymać ją wkrótce.</p>

          <p>Jeżeli nie znajdziesz wiadomości w skrzynce odbiorczej, upewnij się, że wprowadziłeś email, przy pomocy
          którego logowałeś się w Nakranach. Sprawdź również swój folder Spam.</p>
        </div>
        <p class="text-center"><a href="login.html"><i class="fa fa-sign-in"></i> Back to login</a></p>
      </div>
    </div>
    <!-- End Forgot Password Page -->

  </div><!-- End div .container -->

{% endblock body %}