{% extends 'base_framed.html' %}
{% load crispy_forms_tags %}

{% block content %}


  <!-- Page header -->
  <div class="page-heading animated fadeInDownBig">
    <h1>Mój profil</h1>
  </div>
  <!-- End page header -->

  <div class="row">
    <div class="col-sm-4">
      <div class="box-info">

        {% include 'registration/_profile_info_panel.html' %}

      </div>
      <!-- End div .box-info -->
    </div>
    <!-- End div .col-sm-4 -->

    <div class="col-sm-8">
      <div class="box-info full user-update">
        <h3>Edytuj informacje profilowe</h3>
        <hr>

        {% crispy form %}

        <hr>

        <p>
          <a href="{% url 'auth_password_change' %}">Zmień hasło</a>
        </p>

      </div>
      <!-- End div .box-info -->
    </div>
    <!-- End div .col-sm-8 -->
  </div><!-- End div .row -->


{% endblock content %}


{% block modals %}

  {% include 'registration/_gravatar_explained_modal.html' %}

{% endblock modals %}