{% extends 'base_framed.html' %}
{% load crispy_forms_tags %}

{% block content %}


  <!-- Page header -->
  <div class="page-heading animated fadeInDownBig">
    <h1>Mój profil</h1>
  </div>
  <!-- End page header -->

  <div class="row">
    <div class="col-sm-4">
      <div class="box-info">
        <!-- User profile avatar, name and location -->
        <div class="user-profile-sidebar">
{#          <h2><strong>Mas Bro's</strong> Profile</h2>#}

          <div class="row">
            <div class="col-md-4">
              <img src="{{ profile.gravatar_url }}" class="img-circle" alt="Avatar">
            </div>
            <div class="col-md-8">
              <!-- User identity -->
              <div class="user-identity">
                <h4>{{ profile.fullname }}</h4>

                <p>{{ user.email }}</p>

                <p>
                  <a data-modal="logout-modal" data-toggle="modal" data-target="#gravatarExplainedModal">Zmień awatar</a>
                </p>

              </div>
              <!-- End div .user-identity -->
            </div>
          </div>
        </div>
        <!-- End div .user-profile-sidebar -->
        <!-- Account status -->
        <div class="account-status-data">
          <ul class="list-unstyled">
            {% for role_desc in profile.role_descs %}
              <li>{{ role_desc }}</li>
            {% endfor %}
          </ul>
        </div>
        <!-- End div .account-status-data -->
      </div>
      <!-- End div .box-info -->
    </div>
    <!-- End div .col-sm-4 -->

    <div class="col-sm-8">
      <div class="box-info full user-update">
        <h3>Edytuj informacje profilowe</h3>
        <hr>

        {% crispy forms.email_name %}

        <hr>

        <p>
          <a data-modal="logout-modal" data-toggle="modal" data-target="#passwordChangeModal">Zmień hasło</a>
        </p>

      </div>
      <!-- End div .box-info -->
    </div>
    <!-- End div .col-sm-8 -->
  </div><!-- End div .row -->


{% endblock content %}


{% block modals %}

  <!-- Modal -->
  <div class="modal fade" id="gravatarExplainedModal" tabindex="-1" role="dialog"
       aria-labelledby="gravatarExplainedModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="gravatarExplainedModalLabel">Zdjęcie profilowe w serwisie Gravatar</h4>
        </div>
        <div class="modal-body">
          <p>Jeżeli chcesz dołączyć do swojego profilu w Nakranach zdjęcie profilowe</p>
          <ol>
            <li>Przejdź do <a href="http://www.gravatar.com/">www.gravatar.com</a></li>
            <li>Zarejestruj się przy pomocy tego samego adresu email, którego użyłeś w Nakranach.</li>
            <li>Dodaj zdjęcie profilowe.</li>
            <li>Będziesz mógł używać go na każdej stronie, która obsługuje serwis Gravatar.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="passwordChangeModal" tabindex="-1" role="dialog"
       aria-labelledby="passwordChangeModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="passwordChangeModalLabel">Zmień hasło</h4>
        </div>

        {% crispy forms.password_change %}

      </div>
    </div>
  </div>

{% endblock modals %}