{% extends 'base_not_logged_in.html' %}
{% load bootstrap %}

{% block title %}
Nakranach | załóż nowe konto
{% endblock title %}

{% block login_wrap %}

  <div class="box-info">
    <h2 class="text-center">Załóż nowe konto</h2>

    <form role="form" method="post" action="{% url 'registration_register' %}">
      {% csrf_token %}

      {{ form | bootstrap }}

      <button type="submit" class="btn btn-success btn-block"><i class="fa fa-rocket"></i> Załóż konto</button>
    </form>

{#    <p class="text-center"><strong>- or -</strong></p>#}
{##}
{#    <button type="button" class="btn btn-primary btn-block btn-facebook"><i class="fa fa-facebook"></i> Register#}
{#      with Facebook#}
{#    </button>#}

  </div>

  {% include 'components/back_to_login.html' %}

{% endblock login_wrap %}