{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}

  <div class="container">

    <!-- Your logo goes here -->
    <div class="logo-brand header sidebar rows">
      <div class="logo">
        <h1><a href="{% url 'main:dashboard' %}">{# <img src="assets/img/logo.png" alt="Logo"> #} NAKRANACH</a></h1>
      </div>
    </div>
    <!-- End div .header .sidebar .rows -->

    <!-- BEGIN SIDEBAR -->
    {% include 'components/sidebar.html' %}
    <!-- END SIDEBAR -->


    <!-- BEGIN CONTENT -->
    <div class="right content-page">

      <!-- BEGIN CONTENT HEADER -->
      <div class="header content rows-content-header">

        <!-- Button mobile view to collapse sidebar menu -->
        <button class="button-menu-mobile show-sidebar">
          <i class="fa fa-bars"></i>
        </button>

        <!-- BEGIN NAVBAR CONTENT-->
        {% include 'components/navbar.html' %}
        <!-- END NAVBAR CONTENT-->
      </div>
      <!-- END CONTENT HEADER -->


      <!-- ============================================================== -->
      <!-- START YOUR CONTENT HERE -->
      <!-- ============================================================== -->
      <div class="body content rows scroll-y">

        {# main content #}
        {% block content %}
        {% endblock %}

        <!-- Footer -->
        <footer>
          &copy; 2014 <a href="index.html">Lanceng Admin</a>. Design with love by <a href="http://isohdesign.com"
                                                                                     target="_blank">Isoh Design
          Studio</a> from <a href="#fakelink">Yogyakarta, ID</a>
        </footer>
        <!-- End Footer -->

      </div>
      <!-- ============================================================== -->
      <!-- END YOUR CONTENT HERE -->
      <!-- ============================================================== -->

    </div>
    <!-- END CONTENT -->

  </div>

{% endblock body %}